:root {
    --cor-01: #02779E;
    --cor-02: #4E9CB5;
    --cor-03: #5FA6BC;
    --cor-04: #EDF2EF;
    --font-01: 'Nunito Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--cor-01);
    color: var(--cor-04);
    height: 100vh;
    font-family: var(--font-01);
}

input#binary-number {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 3px solid var(--cor-03);
}

input#binary-number:focus {
    border: 3px double var(--cor-02);
    outline: none;
}

p#reponse {
    padding: 10px;
    color: var(--cor-04);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 35px;
    height: 100vh;
}

#container img {
    width: 128px;
    margin-bottom: 25px;
    color: var(--cor-04);
}

#container h1 {
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 25px;
}

button#compute {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.125em;
    border-radius: 7px;
    border: 2px solid var(--cor-04);
    background-color: var(--cor-03);
    color: var(--cor-04);
}

button#compute:hover {
    background-color: var(--cor-02);
}
/* 529px */
@media (min-width: 529px) {
    #container {
        padding: 65px;
    }

    #container img {
        width: 64px;
        margin-bottom: 15px;
    }
}
/* 768px */
@media (min-width: 768px) {
    #container {
        padding: 0 100px;
    }
}
/* 1024px */
@media (min-width: 768px) {
    #container {
        padding: 0 200px;
    }

    #container img {
        margin-bottom: 40px;
    }

    #container h1 {
        margin-bottom: 50px;
    }
}